:root {
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-light: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-very-dark: hsl(0deg, 0%, 10%);
  --color-dark: hsl(0deg, 0%, 30%);
  --color-medium: hsl(0deg, 0%, 40%);
  --color-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

header {
  border-bottom: 8px solid var(--color-light);
  padding: 0 24px;
}

h1,
h2 {
  margin-top: 0;
}

main {
  background-color: var(--color-medium);
  padding-top: 72px;
  padding-bottom: 72px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;

  p {
    max-width: 36ch;
  }

  strong {
    color: var(--color-primary);
  }
}

.title {
  margin-bottom: 48px;
}

.card {
  background-color: var(--color-white);
  padding: 24px;
  padding-top: 8px;
  border-bottom: 8px solid var(--color-light);
}

.indented-heading {
  width: fit-content;
  background-color: var(--color-secondary-light);
  margin-bottom: 24px;
  margin-left: -32px;
  padding: 16px 32px;
  border-bottom: 8px solid var(--color-secondary-dark);
}
